--
-- PostgreSQL database dump
--

\restrict scKcamf0O9cv47EFSnuuUWXyQfaP29oCPmq7EStogOvSsOyJmsYXWTyB4tWhSrx

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: challenges_challenge; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.challenges_challenge (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    instructions text NOT NULL,
    notebook_template character varying(100),
    dataset_file character varying(100),
    status character varying(20) NOT NULL,
    metric_type character varying(50) NOT NULL,
    coins_reward integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    published_at timestamp with time zone,
    created_by_id bigint
);


ALTER TABLE public.challenges_challenge OWNER TO postgres;

--
-- Name: challenges_challenge_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.challenges_challenge ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.challenges_challenge_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: challenges_challengecopy; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.challenges_challengecopy (
    id bigint NOT NULL,
    copy_number integer NOT NULL,
    notebook_file character varying(100) NOT NULL,
    is_submitted boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    challenge_id bigint NOT NULL,
    participant_id bigint NOT NULL
);


ALTER TABLE public.challenges_challengecopy OWNER TO postgres;

--
-- Name: challenges_challengecopy_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.challenges_challengecopy ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.challenges_challengecopy_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: challenges_submission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.challenges_submission (
    id bigint NOT NULL,
    accuracy double precision NOT NULL,
    execution_time double precision,
    code_snapshot text NOT NULL,
    submitted_at timestamp with time zone NOT NULL,
    challenge_copy_id bigint NOT NULL,
    team_id bigint NOT NULL
);


ALTER TABLE public.challenges_submission OWNER TO postgres;

--
-- Name: challenges_submission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.challenges_submission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.challenges_submission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_course; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_course (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    ebook_file character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.courses_course OWNER TO postgres;

--
-- Name: courses_course_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_course ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_course_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_module; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_module (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    "order" integer NOT NULL,
    coins_reward integer NOT NULL,
    is_active boolean NOT NULL,
    course_id bigint NOT NULL
);


ALTER TABLE public.courses_module OWNER TO postgres;

--
-- Name: courses_module_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_module ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_module_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_modulecompletion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_modulecompletion (
    id bigint NOT NULL,
    completed_at timestamp with time zone NOT NULL,
    module_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.courses_modulecompletion OWNER TO postgres;

--
-- Name: courses_modulecompletion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_modulecompletion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_modulecompletion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_unit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_unit (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    video_url character varying(200) NOT NULL,
    activity_url character varying(200) NOT NULL,
    "order" integer NOT NULL,
    module_id bigint NOT NULL
);


ALTER TABLE public.courses_unit OWNER TO postgres;

--
-- Name: courses_unit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_unit ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_unit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: feed_comment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feed_comment (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    author_id bigint NOT NULL,
    post_id bigint NOT NULL
);


ALTER TABLE public.feed_comment OWNER TO postgres;

--
-- Name: feed_comment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.feed_comment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.feed_comment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: feed_post; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feed_post (
    id bigint NOT NULL,
    content character varying(280) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    author_id bigint NOT NULL
);


ALTER TABLE public.feed_post OWNER TO postgres;

--
-- Name: feed_post_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.feed_post ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.feed_post_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: leaderboard_leaderboardentry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leaderboard_leaderboardentry (
    id bigint NOT NULL,
    best_accuracy double precision NOT NULL,
    total_submissions integer NOT NULL,
    rank integer NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    best_submission_id bigint,
    team_id bigint NOT NULL
);


ALTER TABLE public.leaderboard_leaderboardentry OWNER TO postgres;

--
-- Name: leaderboard_leaderboardentry_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.leaderboard_leaderboardentry ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leaderboard_leaderboardentry_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications_notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications_notification (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    message text NOT NULL,
    notification_type character varying(20) NOT NULL,
    target_all boolean NOT NULL,
    target_participants boolean NOT NULL,
    target_tutors boolean NOT NULL,
    send_email boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id bigint
);


ALTER TABLE public.notifications_notification OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notifications_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications_notification_specific_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications_notification_specific_users (
    id bigint NOT NULL,
    notification_id bigint CONSTRAINT notifications_notification_specific_us_notification_id_not_null NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.notifications_notification_specific_users OWNER TO postgres;

--
-- Name: notifications_notification_specific_users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notifications_notification_specific_users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_notification_specific_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications_usernotification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications_usernotification (
    id bigint NOT NULL,
    is_read boolean NOT NULL,
    read_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    notification_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.notifications_usernotification OWNER TO postgres;

--
-- Name: notifications_usernotification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notifications_usernotification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_usernotification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: store_purchase; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_purchase (
    id bigint NOT NULL,
    purchased_at timestamp with time zone NOT NULL,
    is_equipped boolean NOT NULL,
    user_id bigint NOT NULL,
    item_id bigint NOT NULL
);


ALTER TABLE public.store_purchase OWNER TO postgres;

--
-- Name: store_purchase_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.store_purchase ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.store_purchase_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: store_storeitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_storeitem (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    item_type character varying(20) NOT NULL,
    price integer NOT NULL,
    image character varying(100) NOT NULL,
    is_available boolean NOT NULL
);


ALTER TABLE public.store_storeitem OWNER TO postgres;

--
-- Name: store_storeitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.store_storeitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.store_storeitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_participantdocument; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_participantdocument (
    id bigint NOT NULL,
    file character varying(100) NOT NULL,
    doc_type character varying(30) NOT NULL,
    status character varying(20) NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    reviewed_at timestamp with time zone,
    review_notes text NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.users_participantdocument OWNER TO postgres;

--
-- Name: users_participantdocument_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_participantdocument ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_participantdocument_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_team (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    tutor_id bigint
);


ALTER TABLE public.users_team OWNER TO postgres;

--
-- Name: users_team_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_team ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_team_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_teammember; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_teammember (
    id bigint NOT NULL,
    joined_at timestamp with time zone NOT NULL,
    participant_id bigint NOT NULL,
    team_id bigint NOT NULL
);


ALTER TABLE public.users_teammember OWNER TO postgres;

--
-- Name: users_teammember_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_teammember ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_teammember_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    user_type character varying(20) NOT NULL,
    nickname character varying(50) NOT NULL,
    avatar character varying(100),
    bio text NOT NULL,
    coins integer NOT NULL,
    school character varying(200) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    school_grade character varying(10),
    is_eligible boolean NOT NULL
);


ALTER TABLE public.users_user OWNER TO postgres;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO postgres;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO postgres;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: challenges_challenge; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: challenges_challengecopy; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: challenges_submission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: courses_course; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_course (id, title, description, ebook_file, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: courses_module; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_module (id, title, description, "order", coins_reward, is_active, course_id) FROM stdin;
\.


--
-- Data for Name: courses_modulecompletion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_modulecompletion (id, completed_at, module_id, user_id) FROM stdin;
\.


--
-- Data for Name: courses_unit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_unit (id, title, video_url, activity_url, "order", module_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	users	user
7	users	team
8	users	teammember
9	challenges	challenge
10	challenges	challengecopy
11	challenges	submission
12	courses	course
13	courses	module
14	courses	unit
15	courses	modulecompletion
16	feed	post
17	feed	comment
18	leaderboard	leaderboardentry
19	store	storeitem
20	store	purchase
21	notifications	notification
22	notifications	usernotification
23	users	participantdocument
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: feed_comment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.feed_comment (id, content, created_at, author_id, post_id) FROM stdin;
\.


--
-- Data for Name: feed_post; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.feed_post (id, content, created_at, updated_at, author_id) FROM stdin;
\.


--
-- Data for Name: leaderboard_leaderboardentry; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications_notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications_notification (id, title, message, notification_type, target_all, target_participants, target_tutors, send_email, created_at, created_by_id) FROM stdin;
\.


--
-- Data for Name: notifications_notification_specific_users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications_notification_specific_users (id, notification_id, user_id) FROM stdin;
\.


--
-- Data for Name: notifications_usernotification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications_usernotification (id, is_read, read_at, created_at, notification_id, user_id) FROM stdin;
\.


--
-- Data for Name: store_purchase; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_purchase (id, purchased_at, is_equipped, user_id, item_id) FROM stdin;
\.


--
-- Data for Name: store_storeitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_storeitem (id, name, description, item_type, price, image, is_available) FROM stdin;
1	Selo de Bronze	Selo de conquista n├¡vel bronze	badge	50		t
2	Selo de Prata	Selo de conquista n├¡vel prata	badge	100		t
3	Selo de Ouro	Selo de conquista n├¡vel ouro	badge	200		t
4	Efeito Brilho	Adiciona brilho ao avatar	avatar_effect	75		t
5	Fonte Futurista	Fonte personalizada para nickname	font	150		t
\.


--
-- Data for Name: users_participantdocument; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_participantdocument (id, file, doc_type, status, uploaded_at, reviewed_at, review_notes, user_id) FROM stdin;
\.


--
-- Data for Name: users_team; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_teammember; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_teammember (id, joined_at, participant_id, team_id) FROM stdin;
1	2025-11-26 18:24:29.483942-03	13	23
2	2025-11-26 18:24:33.038058-03	28	23
\.


--
-- Data for Name: users_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 92, true);


--
-- Name: challenges_challenge_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.challenges_challenge_id_seq', 36, true);


--
-- Name: challenges_challengecopy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.challenges_challengecopy_id_seq', 35, true);


--
-- Name: challenges_submission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.challenges_submission_id_seq', 74, true);


--
-- Name: courses_course_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_course_id_seq', 1, false);


--
-- Name: courses_module_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_module_id_seq', 1, false);


--
-- Name: courses_modulecompletion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_modulecompletion_id_seq', 1, false);


--
-- Name: courses_unit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_unit_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 13, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 23, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 28, true);


--
-- Name: feed_comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.feed_comment_id_seq', 1, false);


--
-- Name: feed_post_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.feed_post_id_seq', 1, false);


--
-- Name: leaderboard_leaderboardentry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.leaderboard_leaderboardentry_id_seq', 23, true);


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_notification_id_seq', 1, false);


--
-- Name: notifications_notification_specific_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_notification_specific_users_id_seq', 1, false);


--
-- Name: notifications_usernotification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_usernotification_id_seq', 1, false);


--
-- Name: store_purchase_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.store_purchase_id_seq', 1, false);


--
-- Name: store_storeitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.store_storeitem_id_seq', 5, true);


--
-- Name: users_participantdocument_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_participantdocument_id_seq', 1, false);


--
-- Name: users_team_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_team_id_seq', 23, true);


--
-- Name: users_teammember_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_teammember_id_seq', 2, true);


--
-- Name: users_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_groups_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 41, true);


--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: challenges_challenge challenges_challenge_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.challenges_challenge
    ADD CONSTRAINT challenges_challenge_pkey PRIMARY KEY (id);


--
-- Name: challenges_challengecopy challenges_challengecopy_challenge_id_participant_c55052d0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.challenges_challengecopy
    ADD CONSTRAINT challenges_challengecopy_challenge_id_participant_c55052d0_uniq UNIQUE (challenge_id, participant_id, copy_number);


--
-- Name: challenges_challengecopy challenges_challengecopy_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.challenges_challengecopy
    ADD CONSTRAINT challenges_challengecopy_pkey PRIMARY KEY (id);


--
-- Name: challenges_submission challenges_submission_challenge_copy_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.challenges_submission
    ADD CONSTRAINT challenges_submission_challenge_copy_id_key UNIQUE (challenge_copy_id);


--
-- Name: challenges_submission challenges_submission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.challenges_submission
    ADD CONSTRAINT challenges_submission_pkey PRIMARY KEY (id);


--
-- Name: courses_course courses_course_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_course
    ADD CONSTRAINT courses_course_pkey PRIMARY KEY (id);


--
-- Name: courses_module courses_module_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_module
    ADD CONSTRAINT courses_module_pkey PRIMARY KEY (id);


--
-- Name: courses_modulecompletion courses_modulecompletion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_modulecompletion
    ADD CONSTRAINT courses_modulecompletion_pkey PRIMARY KEY (id);


--
-- Name: courses_modulecompletion courses_modulecompletion_user_id_module_id_f39281be_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_modulecompletion
    ADD CONSTRAINT courses_modulecompletion_user_id_module_id_f39281be_uniq UNIQUE (user_id, module_id);


--
-- Name: courses_unit courses_unit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_unit
    ADD CONSTRAINT courses_unit_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: feed_comment feed_comment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feed_comment
    ADD CONSTRAINT feed_comment_pkey PRIMARY KEY (id);


--
-- Name: feed_post feed_post_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feed_post
    ADD CONSTRAINT feed_post_pkey PRIMARY KEY (id);


--
-- Name: leaderboard_leaderboardentry leaderboard_leaderboardentry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leaderboard_leaderboardentry
    ADD CONSTRAINT leaderboard_leaderboardentry_pkey PRIMARY KEY (id);


--
-- Name: leaderboard_leaderboardentry leaderboard_leaderboardentry_team_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leaderboard_leaderboardentry
    ADD CONSTRAINT leaderboard_leaderboardentry_team_id_key UNIQUE (team_id);


--
-- Name: notifications_notification_specific_users notifications_notificati_notification_id_user_id_9d17b15e_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification_specific_users
    ADD CONSTRAINT notifications_notificati_notification_id_user_id_9d17b15e_uniq UNIQUE (notification_id, user_id);


--
-- Name: notifications_notification notifications_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notification_pkey PRIMARY KEY (id);


--
-- Name: notifications_notification_specific_users notifications_notification_specific_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification_specific_users
    ADD CONSTRAINT notifications_notification_specific_users_pkey PRIMARY KEY (id);


--
-- Name: notifications_usernotification notifications_usernotifi_user_id_notification_id_21c2488e_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_usernotification
    ADD CONSTRAINT notifications_usernotifi_user_id_notification_id_21c2488e_uniq UNIQUE (user_id, notification_id);


--
-- Name: notifications_usernotification notifications_usernotification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_usernotification
    ADD CONSTRAINT notifications_usernotification_pkey PRIMARY KEY (id);


--
-- Name: store_purchase store_purchase_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_purchase
    ADD CONSTRAINT store_purchase_pkey PRIMARY KEY (id);


--
-- Name: store_purchase store_purchase_user_id_item_id_65637914_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_purchase
    ADD CONSTRAINT store_purchase_user_id_item_id_65637914_uniq UNIQUE (user_id, item_id);


--
-- Name: store_storeitem store_storeitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_storeitem
    ADD CONSTRAINT store_storeitem_pkey PRIMARY KEY (id);


--
-- Name: users_participantdocument users_participantdocument_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_participantdocument
    ADD CONSTRAINT users_participantdocument_pkey PRIMARY KEY (id);


--
-- Name: users_team users_team_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_team
    ADD CONSTRAINT users_team_name_key UNIQUE (name);


--
-- Name: users_team users_team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_team
    ADD CONSTRAINT users_team_pkey PRIMARY KEY (id);


--
-- Name: users_teammember users_teammember_participant_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_teammember
    ADD CONSTRAINT users_teammember_participant_id_key UNIQUE (participant_id);


--
-- Name: users_teammember users_teammember_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_teammember
    ADD CONSTRAINT users_teammember_pkey PRIMARY KEY (id);


--
-- Name: users_teammember users_teammember_team_id_participant_id_02bfbed3_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_teammember
    ADD CONSTRAINT users_teammember_team_id_participant_id_02bfbed3_uniq UNIQUE (team_id, participant_id);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_nickname_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_nickname_key UNIQUE (nickname);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_user users_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: challenges_challenge_created_by_id_8e0f63fc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX challenges_challenge_created_by_id_8e0f63fc ON public.challenges_challenge USING btree (created_by_id);


--
-- Name: challenges_challengecopy_challenge_id_8c2a6992; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX challenges_challengecopy_challenge_id_8c2a6992 ON public.challenges_challengecopy USING btree (challenge_id);


--
-- Name: challenges_challengecopy_participant_id_a851cdbd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX challenges_challengecopy_participant_id_a851cdbd ON public.challenges_challengecopy USING btree (participant_id);


--
-- Name: challenges_submission_team_id_50e204f4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX challenges_submission_team_id_50e204f4 ON public.challenges_submission USING btree (team_id);


--
-- Name: courses_module_course_id_7d4820de; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_module_course_id_7d4820de ON public.courses_module USING btree (course_id);


--
-- Name: courses_modulecompletion_module_id_cdc7616c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_modulecompletion_module_id_cdc7616c ON public.courses_modulecompletion USING btree (module_id);


--
-- Name: courses_modulecompletion_user_id_b8fb97f9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_modulecompletion_user_id_b8fb97f9 ON public.courses_modulecompletion USING btree (user_id);


--
-- Name: courses_unit_module_id_fa248463; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_unit_module_id_fa248463 ON public.courses_unit USING btree (module_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: feed_comment_author_id_675671b9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX feed_comment_author_id_675671b9 ON public.feed_comment USING btree (author_id);


--
-- Name: feed_comment_post_id_75517c86; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX feed_comment_post_id_75517c86 ON public.feed_comment USING btree (post_id);


--
-- Name: feed_post_author_id_79db3c77; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX feed_post_author_id_79db3c77 ON public.feed_post USING btree (author_id);


--
-- Name: leaderboard_leaderboardentry_best_submission_id_e8d27b7e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX leaderboard_leaderboardentry_best_submission_id_e8d27b7e ON public.leaderboard_leaderboardentry USING btree (best_submission_id);


--
-- Name: notifications_notification_created_by_id_44297423; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_notification_created_by_id_44297423 ON public.notifications_notification USING btree (created_by_id);


--
-- Name: notifications_notification_notification_id_16fec1fe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_notification_notification_id_16fec1fe ON public.notifications_notification_specific_users USING btree (notification_id);


--
-- Name: notifications_notification_specific_users_user_id_cf51c7bf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_notification_specific_users_user_id_cf51c7bf ON public.notifications_notification_specific_users USING btree (user_id);


--
-- Name: notifications_usernotification_notification_id_4e79aa58; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_usernotification_notification_id_4e79aa58 ON public.notifications_usernotification USING btree (notification_id);


--
-- Name: notifications_usernotification_user_id_4a7803df; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_usernotification_user_id_4a7803df ON public.notifications_usernotification USING btree (user_id);


--
-- Name: store_purchase_item_id_8ef3dd52; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_purchase_item_id_8ef3dd52 ON public.store_purchase USING btree (item_id);


--
-- Name: store_purchase_user_id_d7e6de06; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_purchase_user_id_d7e6de06 ON public.store_purchase USING btree (user_id);


--
-- Name: users_participantdocument_user_id_c9fbd3c1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_participantdocument_user_id_c9fbd3c1 ON public.users_participantdocument USING btree (user_id);


--
-- Name: users_team_name_a6d3449e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_team_name_a6d3449e_like ON public.users_team USING btree (name varchar_pattern_ops);


--
-- Name: users_team_tutor_id_ded0a056; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_team_tutor_id_ded0a056 ON public.users_team USING btree (tutor_id);


--
-- Name: users_teammember_team_id_5551dcee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_teammember_team_id_5551dcee ON public.users_teammember USING btree (team_id);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_nickname_8ecfd550_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_nickname_8ecfd550_like ON public.users_user USING btree (nickname varchar_pattern_ops);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: users_user_username_06e46fe6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_username_06e46fe6_like ON public.users_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: challenges_challengecopy challenges_challenge_challenge_id_8c2a6992_fk_challenge; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.challenges_challengecopy
    ADD CONSTRAINT challenges_challenge_challenge_id_8c2a6992_fk_challenge FOREIGN KEY (challenge_id) REFERENCES public.challenges_challenge(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: challenges_challenge challenges_challenge_created_by_id_8e0f63fc_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.challenges_challenge
    ADD CONSTRAINT challenges_challenge_created_by_id_8e0f63fc_fk_users_user_id FOREIGN KEY (created_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: challenges_challengecopy challenges_challenge_participant_id_a851cdbd_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.challenges_challengecopy
    ADD CONSTRAINT challenges_challenge_participant_id_a851cdbd_fk_users_use FOREIGN KEY (participant_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: challenges_submission challenges_submissio_challenge_copy_id_c378972a_fk_challenge; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.challenges_submission
    ADD CONSTRAINT challenges_submissio_challenge_copy_id_c378972a_fk_challenge FOREIGN KEY (challenge_copy_id) REFERENCES public.challenges_challengecopy(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: challenges_submission challenges_submission_team_id_50e204f4_fk_users_team_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.challenges_submission
    ADD CONSTRAINT challenges_submission_team_id_50e204f4_fk_users_team_id FOREIGN KEY (team_id) REFERENCES public.users_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_module courses_module_course_id_7d4820de_fk_courses_course_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_module
    ADD CONSTRAINT courses_module_course_id_7d4820de_fk_courses_course_id FOREIGN KEY (course_id) REFERENCES public.courses_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_modulecompletion courses_modulecomple_module_id_cdc7616c_fk_courses_m; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_modulecompletion
    ADD CONSTRAINT courses_modulecomple_module_id_cdc7616c_fk_courses_m FOREIGN KEY (module_id) REFERENCES public.courses_module(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_modulecompletion courses_modulecompletion_user_id_b8fb97f9_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_modulecompletion
    ADD CONSTRAINT courses_modulecompletion_user_id_b8fb97f9_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_unit courses_unit_module_id_fa248463_fk_courses_module_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_unit
    ADD CONSTRAINT courses_unit_module_id_fa248463_fk_courses_module_id FOREIGN KEY (module_id) REFERENCES public.courses_module(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: feed_comment feed_comment_author_id_675671b9_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feed_comment
    ADD CONSTRAINT feed_comment_author_id_675671b9_fk_users_user_id FOREIGN KEY (author_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: feed_comment feed_comment_post_id_75517c86_fk_feed_post_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feed_comment
    ADD CONSTRAINT feed_comment_post_id_75517c86_fk_feed_post_id FOREIGN KEY (post_id) REFERENCES public.feed_post(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: feed_post feed_post_author_id_79db3c77_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feed_post
    ADD CONSTRAINT feed_post_author_id_79db3c77_fk_users_user_id FOREIGN KEY (author_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leaderboard_leaderboardentry leaderboard_leaderbo_best_submission_id_e8d27b7e_fk_challenge; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leaderboard_leaderboardentry
    ADD CONSTRAINT leaderboard_leaderbo_best_submission_id_e8d27b7e_fk_challenge FOREIGN KEY (best_submission_id) REFERENCES public.challenges_submission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leaderboard_leaderboardentry leaderboard_leaderboardentry_team_id_3c8d6388_fk_users_team_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leaderboard_leaderboardentry
    ADD CONSTRAINT leaderboard_leaderboardentry_team_id_3c8d6388_fk_users_team_id FOREIGN KEY (team_id) REFERENCES public.users_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_notification notifications_notifi_created_by_id_44297423_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notifi_created_by_id_44297423_fk_users_use FOREIGN KEY (created_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_notification_specific_users notifications_notifi_notification_id_16fec1fe_fk_notificat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification_specific_users
    ADD CONSTRAINT notifications_notifi_notification_id_16fec1fe_fk_notificat FOREIGN KEY (notification_id) REFERENCES public.notifications_notification(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_notification_specific_users notifications_notifi_user_id_cf51c7bf_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification_specific_users
    ADD CONSTRAINT notifications_notifi_user_id_cf51c7bf_fk_users_use FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_usernotification notifications_userno_notification_id_4e79aa58_fk_notificat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_usernotification
    ADD CONSTRAINT notifications_userno_notification_id_4e79aa58_fk_notificat FOREIGN KEY (notification_id) REFERENCES public.notifications_notification(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_usernotification notifications_userno_user_id_4a7803df_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_usernotification
    ADD CONSTRAINT notifications_userno_user_id_4a7803df_fk_users_use FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: store_purchase store_purchase_item_id_8ef3dd52_fk_store_storeitem_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_purchase
    ADD CONSTRAINT store_purchase_item_id_8ef3dd52_fk_store_storeitem_id FOREIGN KEY (item_id) REFERENCES public.store_storeitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: store_purchase store_purchase_user_id_d7e6de06_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_purchase
    ADD CONSTRAINT store_purchase_user_id_d7e6de06_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_participantdocument users_participantdocument_user_id_c9fbd3c1_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_participantdocument
    ADD CONSTRAINT users_participantdocument_user_id_c9fbd3c1_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_team users_team_tutor_id_ded0a056_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_team
    ADD CONSTRAINT users_team_tutor_id_ded0a056_fk_users_user_id FOREIGN KEY (tutor_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_teammember users_teammember_participant_id_02ba1dd4_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_teammember
    ADD CONSTRAINT users_teammember_participant_id_02ba1dd4_fk_users_user_id FOREIGN KEY (participant_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_teammember users_teammember_team_id_5551dcee_fk_users_team_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_teammember
    ADD CONSTRAINT users_teammember_team_id_5551dcee_fk_users_team_id FOREIGN KEY (team_id) REFERENCES public.users_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict scKcamf0O9cv47EFSnuuUWXyQfaP29oCPmq7EStogOvSsOyJmsYXWTyB4tWhSrx

